.sapSuiteDC {
	background: transparent;
	position: relative;
	overflow: hidden;
	display: inline-block;
	font-size: 0;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	outline: none;
}

.sapSuiteDCWrapper {
	position: absolute;
	left: 100%;
}

.sapSuiteDCWrapper>.sapSuiteGT,
.sapSuiteDCWrapper>.sapSuiteGT:hover {
    box-shadow: none;
}

.sapUiMedia-Std-Phone .sapSuiteDC.Auto.OneByOne,
.sapSuiteDC.S.OneByOne {
    width: 9.25rem;
    height: 9rem;
}

.sapUiMedia-Std-Phone .sapSuiteDC.Auto.TwoByOne,
.sapSuiteDC.S.TwoByOne {
    width: 19rem;
    height: 9rem;
}

.sapUiMedia-Std-Desktop .sapSuiteDC.Auto.OneByOne,
.sapSuiteDC.L.OneByOne,
.sapUiMedia-Std-Tablet .sapSuiteDC.Auto.OneByOne,
.sapSuiteDC.M.OneByOne {
    width: 11.5rem;
    height: 11rem;
}

.sapUiMedia-Std-Desktop .sapSuiteDC.Auto.TwoByOne,
.sapSuiteDC.L.TwoByOne,
.sapUiMedia-Std-Tablet .sapSuiteDC.Auto.TwoByOne,
.sapSuiteDC.M.TwoByOne {
    width: 23.5rem;
    height: 11rem;
}

.sapSuiteDCIconCont {
	position: absolute;

	width: 100%;
	height: 100%;
}

.sapSuiteDCIcon {
	position: relative;
	font-size: 3.37rem;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
	display:none;
} 