/* ========================================================== */
/* CSS for control sap.suite.ui.commons/FacetOverview.control */
/* ========================================================== */

.sapSuiteFov {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
}

.sapSuiteFov > .sapSuiteFovContent .sapMLabel {
    color: @sapUiLightText;
}

.sapSuiteFov.sapSuiteFovSelected {
    .sapSuiteFovHoverIcon,
    .sapMLabel {
        color: @sapUiTextInverted;
    }
}

.sapSuiteFov.sapSuiteFovSelected > .sapSuiteFovContent {
    .sapMLabel,
    .sapMText,
    .sapMLnk {
        color: @sapUiTextInverted;
   }
}

.sapSuiteFovSelected .sapUiForm {
    background-color: transparent;
}

.sapSuiteFovTitle {
    margin-top: 13px;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 34px;
    font-size: 18px;
    font-family: @sapUiFontFamily;
}

.sapSuiteFovContent {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -47px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom: 1rem;
    padding-top: 47px;
}

.sapSuiteFovQty {
    display: inline;
    float: left;
    padding-left: 0.25rem;
}

.sapSuiteFovHoverIcon {
	font-size: 21px;
	opacity: 0.6;
	text-align: right;
	display: none;
	padding-left: 0.25rem;
}

html[dir=rtl] .sapSuiteFovHoverIcon {
	text-align: left;
}

.sapSuiteFovTitleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;	
    float: left;
}

.sapSuiteFovClickable,
.sapSuiteFovClickable .sapMLabel {
	cursor: pointer;
}

.sapSuiteFovClickable:focus .sapSuiteFovHoverIcon,
.sapSuiteFovClickable:hover .sapSuiteFovHoverIcon {
	display: block;
}
/*
.sap-desktop .sapSuiteFovActiveCont:focus,
.sap-desktop .sapSuiteFovClickable:focus {
	outline: 1px dotted;
	outline-color: @sapUiBlackBorder;
	outline-offset: -1px;
}
*/
.sap-desktop .sapSuiteFov:focus {
	outline: 1px dotted;
	outline-color: @sapUiBlackBorder;
	outline-offset: -1px;
}

/*IE does not support outline-offset. So we have to add overlay*/
.sap-desktop[data-sap-ui-browser^="ie"]{
	/*
	.sapSuiteFovActiveCont:focus,
	.sapSuiteFovClickable:focus {
		outline: none;
		position: relative;
	}
	.sapSuiteFovActiveCont:focus:before,
	.sapSuiteFovClickable:focus:before {
		content: " ";
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border: 1px dotted @sapUiBlackBorder;
	}
	*/
	.sapSuiteFov:focus {
		outline: none;
		position: relative;
	}
	.sapSuiteFov:focus:before {
		content: " ";
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border: 1px dotted @sapUiBlackBorder;
	}
}
