
/* ============================================= */
/* CSS for control sap.suite.ui.commons/HeaderContainer.control */
/* ============================================= */

.sapSuiteHdrCntr {
  width: 100%;
  position: relative;
  background: @sapUiWhite;
}

.sapSuiteHdrCntrBtnCntr {
	position: absolute; 
	top:0px;
	bottom:0px;
	min-width: 1.375rem;
}

.sapSuiteHdrCntrLeft {
	left: 0rem;
}

.sapSuiteHdrCntrRight {
	right: 0rem;
}

.sapSuiteHdrCntrBtnCntr>.sapSuiteHdrCntrBtn {
	position: absolute;
	top:50%;
	margin-top: -1.5rem;
	min-width: 1.375rem;
	display: inline-table;
}

.sap-desktop .sapSuiteHdrCntrCntr {
	padding-left: 2rem;
	padding-right: 2rem;
}
.sapSuiteHdrCntrCntr {
	white-space: nowrap;
}

.sapMScrollContScroll>.sapSuiteHrdrCntrInner:first-child:after {
	content:"";
	width:0px;
	border:none;
}

.sapMScrollContScroll>.sapSuiteHrdrCntrInner:first-child {
	margin-left: 0rem;
}

.sapMScrollContScroll>.sapSuiteHrdrCntrInner {
	position:relative;
	margin-left: 1rem;
	vertical-align: bottom;
	display: inline-table;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}
.sapMScrollContScroll>.sapSuiteHrdrCntrInner:after {
	content:"";
	position:absolute;
	top:10px;
	bottom:10px;
	box-sizing:border-box;
	left:-9px;
	display:inline-block;
	border-left:1px solid @sapUiFieldBorderColor;
}
.sapSuiteKTileBorder {
	display: none;
} 

.sapSuiteHdrPddngRight2 {
	padding-right: 2rem;
}

.sapSuiteHdrPddngRight0 {
	padding-right: 0rem;
}

.sapSuiteHdrPddngLeft2 {
    padding-left: 2rem;
}

.sapSuiteHdrPddngleft0 {
    padding-left: 0rem;
}

