/* ============================================================ */
/* CSS for control sap.suite.ui.commons/ProcessFlowNode.control */
/* ============================================================ */
/*-----------------------------------------------------------------*/
/* font faces */
/*-----------------------------------------------------------------*/
@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  color: transparent;
  src: url('fonts/BusinessSuiteInAppSymbols.eot');
  src: url('fonts/BusinessSuiteInAppSymbols.eot?#iefix') format('embedded-opentype'),
       url('fonts/BusinessSuiteInAppSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

/* border styles */
.sapSuiteUiCommonsProcessFlowNodeBorderStandard {
  border: 1px solid @sapUiLightBorder;
}
.sapSuiteUiCommonsProcessFlowNode1BorderStyle {
  border-right: none !important;
  border-bottom: none !important;
}
.sapSuiteUiCommonsProcessFlowNode1FoldedBorderStyle {
  border-style: none;
}
.sapSuiteUiCommonsProcessFlowNode2BorderStyle {
  border-left: none !important;
  border-bottom: none !important;
}
.sapSuiteUiCommonsProcessFlowNode3BorderStyle {
  border-top: none !important;
}

/* node general settings */
.sapSuiteUiCommonsProcessFlowNode0,
.sapSuiteUiCommonsProcessFlowNode0 *,
.sapSuiteUiCommonsProcessFlowNode1,
.sapSuiteUiCommonsProcessFlowNode1 *,
.sapSuiteUiCommonsProcessFlowFoldedCornerNode1,
.sapSuiteUiCommonsProcessFlowFoldedCornerNode1 *,
.sapSuiteUiCommonsProcessFlowNode2,
.sapSuiteUiCommonsProcessFlowNode2 *,
.sapSuiteUiCommonsProcessFlowNode3,
.sapSuiteUiCommonsProcessFlowNode3 * {
  clear: none;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 0ms;
  -webkit-transform: translate3d(0,0,0);
  -ms-touch-select: none;
  touch-action: manipulation;
  text-size-adjust: none;
  -ms-text-autospace: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

/* ----- */
/* node0 */
/* ----- */
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 176px;
  min-width: 176px;
  max-width: 176px;
  height: 203px;
  min-height: 203px;
  max-height: 203px;
  line-height: 203px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 144px;
  min-width: 144px;
  max-width: 144px;
  height: 183px;
  min-height: 183px;
  max-height: 183px;
  line-height: 183px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 104px;
  min-width: 104px;
  max-width: 104px;
  height: 124px;
  min-height: 124px;
  max-height: 124px;
  line-height: 124px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  line-height: 60px;
}

/* shadow */
.shadowedDivBorderTop,
.shadowedDivFoldedCornerBorderTop {
  top: 0px;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
  line-height: 0px;
  box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.shadowedDivBorderRight {
  right: 0px;
  top: 0px;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  line-height: 100%;
  box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.shadowedDivBorderBottom {
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
  line-height: 0px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.shadowedDivBorderLeft,
.shadowedDivFoldedCornerBorderLeft {
  left: 0px;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  box-shadow: -1px 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.shadowedDivFoldedCorner,
.shadowedDivFoldedCornerSafari {
  position: absolute;
  border: none;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
  line-height: 0px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.shadowedDivCommon {
  position: absolute;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivBorderTop  {
  left: 0px;
  width: 176px;
  min-width: 176px;
  max-width: 176px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCornerBorderTop  {
  left: 16px;
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivBorderLeft  {
  top: 0px;
  height: 203px;
  min-height: 203px;
  max-height: 203px;
  line-height: 203px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCornerBorderLeft  {
  top: 16px;
  height: 187px;
  min-height: 187px;
  max-height: 187px;
  line-height: 187px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCorner  {
  left: -2.9px;
  top: 7.2px;
  width: 19.8px;
  min-width: 19.8px;
  max-width: 19.8px;
  box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel1 > .shadowedDivFoldedCornerSafari  {
  left: -2.9px;
  top: 8px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivBorderTop  {
  left: 0px;
  width: 144px;
  min-width: 144px;
  max-width: 144px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCornerBorderTop  {
  left: 16px;
  width: 128px;
  min-width: 128px;
  max-width: 128px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivBorderLeft  {
  top: 0px;
  height: 183px;
  min-height: 183px;
  max-height: 183px;
  line-height: 183px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCornerBorderLeft  {
  top: 16px;
  height: 167px;
  min-height: 167px;
  max-height: 167px;
  line-height: 167px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCorner  {
  left: -2.9px;
  top: 7.2px;
  width: 19.8px;
  min-width: 19.8px;
  max-width: 19.8px;
  box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 > .shadowedDivFoldedCornerSafari  {
  left: -2.9px;
  top: 8px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivBorderTop  {
  left: 0px;
  width: 104px;
  min-width: 104px;
  max-width: 104px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCornerBorderTop  {
  left: 12px;
  width: 92px;
  min-width: 92px;
  max-width: 92px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivBorderLeft  {
  top: 0px;
  height: 124px;
  min-height: 124px;
  max-height: 124px;
  line-height: 124px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCornerBorderLeft  {
  top: 12px;
  height: 112px;
  min-height: 112px;
  max-height: 112px;
  line-height: 112px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCorner {
  left: -2.1px;
  top: 5.2px;
  width: 14.3px;
  min-width: 14.3px;
  max-width: 14.3px;
  box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1px 1.4px rgba(0, 0, 0, 0.1);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel3 > .shadowedDivFoldedCornerSafari  {
  left: -2.0px;
  top: 6px;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivBorderTop  {
  left: 0px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCornerBorderTop  {
  left: 12px;
  width: 36px;
  min-width: 36px;
  max-width: 36px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivBorderLeft  {
  top: 0px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  line-height: 60px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCornerBorderLeft  {
  top: 12px;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  line-height: 48px;
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCorner {
  left: -2.1px;
  top: 5.2px;
  width: 14.3px;
  min-width: 14.3px;
  max-width: 14.3px;
  box-shadow: 0px 0px 1.4px 1.4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1.4px 1.4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1.4px 1.4px rgba(0, 0, 0, 0.1);
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel4 > .shadowedDivFoldedCornerSafari {
  left: -2.0px;
  top: 6px;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);
}

/* ----- */
/* node1 */
/* ----- */
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1 > .sapUiIcon:before,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel2 > .sapUiIcon:before {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  line-height: 16px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3 > .sapUiIcon:before,
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel4 > .sapUiIcon:before {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  vertical-align: middle;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  line-height: 12px;
  overflow: hidden;
}

/* ----- */
/* node2 */
/* ----- */
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel1 {
  clear: none;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  line-height: 16px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel2 {
  clear: none;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 128px;
  min-width: 128px;
  max-width: 128px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  line-height: 16px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel3 {
  clear: none;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 92px;
  min-width: 92px;
  max-width: 92px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  line-height: 12px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel4 {
  clear: none;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 36px;
  min-width: 36px;
  max-width: 36px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  line-height: 12px;
  overflow: hidden;
}

/* ----- */
/* node3 */
/* ----- */
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel1 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px 15px 15px 15px;
  width: 176px;
  min-width: 176px;
  max-width: 176px;
  height: 187px;
  min-height: 187px;
  max-height: 187px;
  line-height: 187px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel2 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px 15px 15px 15px;
  width: 144px;
  min-width: 144px;
  max-width: 144px;
  height: 167px;
  min-height: 167px;
  max-height: 167px;
  line-height: 167px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel3 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px 11px 11px 11px;
  width: 104px;
  min-width: 104px;
  max-width: 104px;
  height: 112px;
  min-height: 112px;
  max-height: 112px;
  line-height: 112px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel4 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  line-height: 48px;
  overflow: hidden;
}

/*---------------*/
/* folded corner */
/*---------------*/
.sapSuiteUiCommonsProcessFlowNodeStateFoldedCornerZoomLevel1,
.sapSuiteUiCommonsProcessFlowNodeStateFoldedCornerZoomLevel2 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  line-height: 16px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNodeStateFoldedCornerZoomLevel3,
.sapSuiteUiCommonsProcessFlowNodeStateFoldedCornerZoomLevel4 {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  line-height: 12px;
  overflow: hidden;
}

/* Title */
.sapSuiteUiCommonsProcessFlowNode3Title,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: top;
  font-family: @sapUiFontFamily;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  overflow: hidden;
}

.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMText,
.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNodeStatePlanned > .sapSuiteUiCommonsProcessFlowNode3Title > .sapSuiteUiCommonsProcessFlowNode3Title > .sapMTextMaxWidth {
  color: @sapUiLightText;
}

.sapSuiteUiCommonsProcessFlowNode3TitleClickable,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable > .sapMTextMaxWidth {
  color: @sapUiLinkActive;
}
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover,
.sapSuiteUiCommonsProcessFlowNode3TitleClickable:hover > .sapMTextMaxLine {
  color: @sapUiLinkActive;
  text-decoration: underline;
  cursor: pointer;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 {
  clear: both;
  float: left;
  display: table-row;
  position: relative;
  border: none;
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel1 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: top;
  font-size: 16px;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  height: 57px;
  min-height: 57px;
  max-height: 57px;
  line-height: 19px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 {
  clear: both;
  float: left;
  display: table-row;
  position: relative;
  border: none;
  text-align: left;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel2 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: top;
  font-size: 14px;
  width: 108px;
  min-width: 108px;
  max-width: 108px;
  height: 51px;
  min-height: 51px;
  max-height: 51px;
  line-height: 17px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 {
  clear: both;
  float: left;
  display: table-row;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  text-align: center;
  vertical-align: top;
  width: 76px;
  max-width: 76px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel3 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  width: 76px;
  max-width: 76px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  line-height: 17px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TitleZoomLevel4 {
  clear: both;
  float: left;
  display: none;
  position: relative;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
  line-height: 0px;
  overflow: hidden;
}

/* State area */
.sapSuiteUiCommonsProcessFlowNode3State {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel1 {
  clear: both;
  float: left;
  display: table;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  height: 38px;
  min-height: 38px;
  max-height: 38px;
  line-height: 38px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel2 {
  clear: both;
  float: left;
  display: table;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 108px;
  min-width: 108px;
  max-width: 108px;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  line-height: 36px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel3 {
  clear: both;
  float: left;
  display: table-cell;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 76px;
  min-width: 76px;
  max-width: 76px;
  height: 66px;
  min-height: 66px;
  max-height: 66px;
  line-height: 66px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateZoomLevel4 {
  clear: both;
  float: left;
  display: table-cell;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 46px;
  min-width: 46px;
  max-width: 46px;
  height: 46px;
  min-height: 46px;
  max-height: 46px;
  line-height: 46px;
  overflow: hidden;
}

/* State icon */
.sapSuiteUiCommonsProcessFlowNode3StateIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIcon > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIcon > .sapUiIcon:before {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  vertical-align: middle;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconLeft {
  text-align: left;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconRight {
  text-align: right;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconCenter {
  text-align: center;
}

.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 {
  clear: both;
  float: left;
  display: table-cell;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  line-height: 34px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel1 > .sapUiIcon:before {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  font-size: 20px;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  line-height: 34px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 {
  clear: both;
  float: left;
  display: table-cell;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel2 > .sapUiIcon:before {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  font-size: 16px;
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 {
  clear: both;
  float: left;
  display: table-cell;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  width: 76px;
  min-width: 76px;
  max-width: 76px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  line-height: 32px;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel3 > .sapUiIcon:before {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  font-size: 20px;
  width: 76px;
  min-width: 76px;
  max-width: 76px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 {
  clear: both;
  float: left;
  display: table-cell;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  width: 46px;
  min-width: 46px;
  max-width: 46px;
  height: 46px;
  min-height: 46px;
  max-height: 46px;
  line-height: 46px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 > .sapUiIcon,
.sapSuiteUiCommonsProcessFlowNode3StateIconZoomLevel4 > .sapUiIcon:before {
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  font-size: 22px;
  width: 46px;
  min-width: 46px;
  max-width: 46px;
  height: 46px;
  min-height: 46px;
  max-height: 46px;
  line-height: 46px;
  overflow: hidden;
}

/* State text */
.sapSuiteUiCommonsProcessFlowNode3StateText,
.sapSuiteUiCommonsProcessFlowNode3StateText > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateText > .sapMTextMaxWidth {
  clear: both;
  float: none;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  font-family: @sapUiFontFamily;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 {
  clear: both;
  float: none;
  display: table-cell;
  position: relative;
  border: none;
  text-align: left;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel1 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  font-size: 14px;
  width: 102px;
  min-width: 102px;
  max-width: 102px;
  max-height: 34px;
  line-height: 17px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 {
  clear: both;
  float: none;
  display: table-cell;
  position: relative;
  border: none;
  text-align: left;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel2 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  vertical-align: middle;
  font-size: 12px;
  width: 78px;
  min-width: 78px;
  max-width: 78px;
  max-height: 32px;
  line-height: 15px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 {
  clear: both;
  float: none;
  display: table-cell;
  position: relative;
  border: none;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel3 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  width: 72px;
  max-width: 72px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 15px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3StateTextZoomLevel4 {
  clear: both;
  float: none;
  display: none;
  position: relative;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
  line-height: 0px;
  overflow: hidden;
}

/* Text area */
.sapSuiteUiCommonsProcessFlowNode3Text,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3Text > .sapMTextMaxWidth {
  clear: both;
  float: left;
  display: block;
  position: relative;
  padding: 0px;
  border: none;
  vertical-align: top;
  font-family: @sapUiFontFamily;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  overflow: hidden;
  color: @sapUiLightText;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 {
  clear: both;
  float: left;
  display: table-row;
  position: relative;
  border: none;
  text-align: left;
  vertical-align: top;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel1 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  padding: 0px;
  border: none;
  vertical-align: top;
  font-size: 14px;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  line-height: 17px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 {
  clear: both;
  float: left;
  display: table-row;
  position: relative;
  border: none;
  text-align: left;
  vertical-align: top;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMText,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMTextMaxLine,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel2 > .sapMTextMaxWidth {
  clear: both;
  float: left;
  position: relative;
  padding: 0px;
  border: none;
  vertical-align: top;
  font-size: 12px;
  width: 108px;
  min-width: 108px;
  max-width: 108px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 15px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel3,
.sapSuiteUiCommonsProcessFlowNode3TextZoomLevel4 {
  clear: both;
  float: left;
  display: none;
  position: relative;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
  line-height: 0px;
  overflow: hidden;
}
.sapSuiteUiCommonsProcessFlowNode3TextWithGapZoomLevel1 {
  padding-bottom: 8px;
}
.sapSuiteUiCommonsProcessFlowNode3TextWithGapZoomLevel2 {
  padding-bottom: 4px;
}

/* node content states */
.sapSuiteUiCommonsProcessFlowNodeStateNeutral {
  color: @sapUiLightText;
}

.sapSuiteUiCommonsProcessFlowNodeStatePositive {
  color: @sapUiPositiveText;
}

.sapSuiteUiCommonsProcessFlowNodeStateNegative {
  color: @sapUiNegativeText;
}

.sapSuiteUiCommonsProcessFlowNodeStatePlanned {
  background-color: mix(@sapUiHighlight, @sapUiWhite, 10%) !important;
  border-color: @sapUiLightBorder !important;
  opacity: 0.5;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerPlanned {
  color: @sapUiLightBorder !important;
  opacity: 0.5;
}

/* node display states */
.sapSuiteUiCommonsProcessFlowNodeDisplayStateRegular {
  background-color: #ffffff;
  border-color: @sapUiLightBorder;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateHighlighted {
  background-color: #ffffff ;
  border-color: @sapUiDarkBorder;
}

.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateRegular {
  color: @sapUiLightBorder;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateHighlighted {
  color: @sapUiDarkBorder;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateSelected {
  border-color: @sapUiHighlight !important;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateNavigation {
  border-color: red !important;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateSelected {
  color: @sapUiHighlight !important;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerDisplayStateDimmed {
  opacity: 0.5;
  color: @sapUiLightBorder;
}
.sapSuiteUiCommonsProcessFlowNodeStatePlannedDashedBorder {
  border: 1px dashed;
}

/* special effects */
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeHover {
  background-color: transparent;
  cursor: pointer;
}
.sapSuiteUiCommonsProcessFlowFoldedCornerNodeIconHover {
  background-color: transparent;
  color: @sapUiLightBorder;
  cursor: pointer;
}
.sapSuiteUiCommonsProcessFlowNodeHover {
  border-color: @sapUiLightBorder !important;
  background-color: contrast(#ffffff, darken(#ffffff,3)) !important;
  cursor: pointer;
}

.sapSuiteUiCommonsProcessFlowFoldedCornerNodeActive {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.sapSuiteUiCommonsProcessFlowNodeActive {
  border-color: @sapUiHighlight !important;
  background-color: @sapUiHighlight !important;
  color: #ffffff !important;
  cursor: pointer;
}