
/* ============================================= */
/* CSS for control sap.suite.ui.commons/Timeline.control */
/* ============================================= */

.sapSuiteUiCommonsTimeline{
    min-width: 20rem;
	height: 100%;
}
.sapSuiteUiCommonsTimelineContents{
	width: 100%;
	padding: 1rem 0 0 0;
	overflow: hidden;
	position: relative; 
}


.sapSuiteUiCommonsTimelineScroll {
	display: inline-block; 
	//background-color: white;
	//opacity:0.8;
    //-moz-opacity:0.8; 
    //-webkit-opacity:0.8;
}

.sapSuiteUiCommonsTimelineScrollV .sapSuiteUiCommonsTimelineScroll {
	display: block; 
	width: ~"calc(100% - 3rem)";
}

.sapSuiteUiCommonsTimelineGetMore{
	width: 100%;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sapSuiteUiCommonsTimelineGetMoreBar{
	height: 2.1rem;
	margin-left: 11px;
	margin-top: -0.1rem;
	width: 3px;
	background: linear-gradient(#36a9e0, white);
	background: -webkit-linear-gradient(#36a9e0, white);
	background: -o-linear-gradient(#36a9e0, white);  
    background: -moz-linear-gradient(#36a9e0, white);  
    background: -ms-linear-gradient(#36a9e0, white);
}

.sapSuiteUiCommonsTimelineGetMoreBox{
	background: transperent;
    width: 100%;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: -2.5rem;
}


